@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Приложение в разработке. Просмотреть можно на <a href="https://github.com/RemanentCrane/ScholarHub">github</a>.</p>
</div>
